img{
    position: relative;
    margin-top: .5pt;
    margin-left: -.3pt;
    display: inline-block;
}

.global{
    background-color: none;
    width:  20px;
    height: 20px;
    border: 1px solid #fff;
    margin-right: 5px;
    float: left;
    border-radius: 1px;
}

#uzun{
    width: 50px;
}


.health{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #4cb37d;
}

.armor{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #464c4e;
}

.hunger{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #b9863d;
}

.thirst{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #61809d;
}